/* Header.css */
.header-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
  }
  
  .header-link {
    background-color: transparent;
    color: white;
    border-radius: 9999px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-link:hover {
    background-color: #e5e7eb;
    color: #1f2937;
  }
  
  .menu-button {
    display: block;
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition-property: border-width, border-color;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-button:hover {
    border-bottom-width: 2px;
    border-color: #60a5fa;
  }
  
  .menu {
    display: none;
  }
  
  .menu-lg {
    display: flex;
    gap: 1rem;
  }
  
  .menu-item {
    display: block;
  }
  
  @media (min-width: 1024px) {
    .menu {
      display: flex;
      gap: 1rem;
    }
  
    .menu-button {
      display: none;
    }
  }
  