/* CONTAINER ZONE */

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-attachment: fixed;
    /*padding: 17rem 2rem 2rem 2rem;*/

}


.section__title{
    font-size: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.parent__container{
    display: flex;
}

.container__title--secondary {
    font-size: 3rem;
    color: var(--blue);
}

.container {
    margin: 1.5rem;
}


/*.background--text{
    background-color: rgba(231, 231, 231, 0.705);
    border-radius: 4rem;
    padding: 2rem;
}*/

.background--text {
    background-color: rgba(231, 231, 231, 0.705);
    border-radius: 4rem;
    padding: 2rem;  
    box-shadow: 1px 1px 10px 0px;
}

/* HEADER */

.header {
    position: fixed;
    backdrop-filter: blur(2px);
    transition: 0.3s;
    display: flex;
    width: 100%;
    z-index: 5;
}

.header__scroll {
    background: var(--blue);
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;    
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}


.nav-menu {
    display: flex;
    list-style: none;
}


.nav__logo {
    height: auto;
    width: 300px;
    display: flex;
 
}
.nav-menu-item {
    font-size: 1.8rem;
    margin: 0 auto;
    line-height: 8rem;
    text-transform: uppercase;
}

.nav-menu-link {
    padding: 0.8rem 1.2rem;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 3rem;
    padding: 0 2rem;
    line-height: 6rem;
    display: none;
    cursor: pointer;
    z-index: 1;
}


.nav__rrhh img {
    height: 2.5rem;
    margin: 0rem 0.9rem;
}



/* ///////////// HOME ///////////// */
.home__videoBackground {
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 100vh;
    height: 100%;
    width: 100100%;
    /*position: absolute;*/
}

.home__description {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.home__container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.home__container P {
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
    text-shadow: 0.5rem 0.5rem 0.5rem #000000;
}

.home__img {
    position: relative;
    width: 35rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 999px;
    padding: 1rem;
}


.services__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

/*  SELECCION */
/*#seleccion__section{
    background-image: url('../img/seleccion.png');
    background-size: cover;
}*/


/*  ACADEMY  */
/*#academy__section {
    background-image: url('../img/academy.png');
    background-size: cover;
}*/


/*CONTACTO*/
.section--contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 2rem*/
}

.section__container {
    max-width: 600px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    /*z-index: 5;*/
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form__form {
    width: 100%;
}

.contact-form__label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.contact-form__input,
.contact-form__textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1.5rem;
    outline: none;
    transition: border-color 0.3s;
}

.contact-form__input:focus,
.contact-form__textarea:focus {
    border-color: var(--blue);
}

.contact-form__textarea {
    resize: vertical;
    min-height: 100px;
}

.privacy-policy {
    display:flex;
    align-items: center;
    margin-bottom: 1rem;
    }
    
    .privacy-policy__checkbox {
    margin-right: 0.5rem;
    }
    
    .privacy-policy__label {
    font-size: 0.9rem;
    }
    
    .privacy-policy__link {
    color: var(--blue);
    font-size: 1.5rem;
    }
    
    .contact-form__button {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--blue);
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    
    .contact-form__button:hover {
    background-color: #45a049;
    }



/*  FOOTER */
/*#footer__section {
    background-color: var(--black); 
    color: white;
    display: flex;
    justify-content: space-around;
}*/
/*
#footer__section .parent__container {
    justify-content: space-around;
    width: 100%;
}*/

