@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h2 {
  color: rgb(0, 110, 255);
}

a {
  color: inherit;
  text-decoration: none;
}



/* El contenedor del codigo */
pre {
  padding: 10px;
  border-radius: 20px;
}





@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
   
  }
}

