/* global_bottom_line_animation */
.underLine_gAnimation {
  position: relative;
  
}

.underLine_gAnimation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.underLine_gAnimation:hover::after {
  transform: scaleX(1);
}

/* GRADIENT */
.gradientText_gAnimation {
  background-image: linear-gradient(45deg, #ffcc00 0%, #ffb300 15%, #ffa700 30%, #ff8c00 40%, #ff7800 50%, #ff8c00 60%, #ffa700 70%, #ffb300 85%, #ffcc00 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: animateGradient 10s linear infinite;
  background-size: 200% 100%;
}

@keyframes animateGradient {
  0% {
    background-position: 300% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
